<html ng-app="a">
<head>

    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/lodash/lodash.js"></script>
    <script src="node_modules/restangular/dist/restangular.js"></script>
    <script src="node_modules/angular-smart-table/dist/smart-table.js"></script>
    <script src="index.js"></script>
    <script src="google-val.js"></script>

</head>
<body>

<div ng-controller="demoValidationController">

    <p>Type an address into the box, then check the drop down menu and it will show five results...</p>

    <input type="text" ng-model="searchTerm" ng-keyup="askGoogle();" placeholder="enter address here..."/>

    <select name="selectedAddress" ng-model="selectedAddress" ng-change="lookupPlace();">
        <option ng-repeat="address in addresses" value="{{address.id}}">{{address.name}}</option>
    </select>

</div>

</body>
</html>