<html ng-app="a">
<head>

    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/lodash/lodash.js"></script>
    <script src="node_modules/restangular/dist/restangular.js"></script>
    <script src="node_modules/angular-smart-table/dist/smart-table.js"></script>
    <script src="index.js"></script>

</head>
<body>

    <div ng-controller="pipeCtrl as mc">

        <table class="table" st-pipe="mc.callServer" st-table="mc.displayed">
            <thead>
            <tr>
                <th st-sort="firstname">firstname</th>
                <th st-sort="surname">surname</th>
                <th st-sort="dob">dob</th>
            </tr>
            <tr>
                <th><input st-search="firstname"/></th>
                <th><input st-search="surname"/></th>
                <th><input st-search="dob"/></th>
            </tr>
            </thead>
            <tbody ng-show="!mc.isLoading">
            <tr ng-repeat="row in mc.displayed">
                <td>{{row.Member.firstname}}</td>
                <td>{{row.Member.surname}}</td>
                <td>{{row.Member.dob}}</td>
            </tr>
            </tbody>
            <tbody ng-show="mc.isLoading">
            <tr>
                <td colspan="4" class="text-center">Loading ... </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td class="text-center" st-pagination="" st-items-by-page="10" colspan="4">
                </td>
            </tr>
            </tfoot>
        </table>


    </div>

</body>
</html>